<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/workshops"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="id">Detalhes da mecanica</ion-title>
    <ion-title class="ion-text-center" *ngIf="!id">Adicionar Nova mecanica</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text" autofocus disabled>{{workshop.nome}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input type="text" disabled>{{workshop.telefone}}</ion-input>
      </ion-item> 
      <ion-item>
        <ion-label position="stacked">RUC</ion-label>
        <ion-input type="text" disabled>{{workshop.RUC}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="text" disabled>{{workshop.email}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Endereco</ion-label>
        <ion-input type="text" disabled>{{workshop.endereco}}</ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Responsavel</ion-label>
        <ion-input type="text" disabled>{{workshop.responsavel}}</ion-input>
      </ion-item>
      <ion-item-group class="ion-text-center ion-margin-top">
        <ion-button color="medium" routerLink="/workshops">
          <ion-icon name="arrow-back-outline"></ion-icon>Voltar
        </ion-button>
      </ion-item-group>
    </ion-card-content>
  </ion-card>
  
</ion-content>
