<ion-header>

  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/cars"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" *ngIf="id">Detalhes do Veiculo</ion-title>
    <ion-title class="ion-text-center" *ngIf="!id">Adicionar Novo Veiculo</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button color="success">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <center>
        <img style="width:70%" src="../../../assets/img/no-image.png" />
      </center>
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text" autofocus required [(ngModel)]="car.nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Modelo</ion-label>
        <ion-input type="text" required [(ngModel)]="car.modelo"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Quilometragem</ion-label>
              <ion-input type="text" required [(ngModel)]="car.km"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Placa</ion-label>
              <ion-input type="text" required [(ngModel)]="car.placa"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid> 
      <ion-grid> 
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Cambio</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.cambio">
                <ion-select-option value="Automatico">Automatico</ion-select-option>
                <ion-select-option value="Manual">Manual</ion-select-option>
                <ion-select-option value="Secuencial">Secuencial</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Anho de Fabricacao</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.anho_fabricacao" ok-text="Aceptar" cancel-text="Cancelar">
                <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Marca</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.marca">
                <ion-select-option value="Audi">Audi</ion-select-option>
                <ion-select-option value="BMW">BMW</ion-select-option>
                <ion-select-option value="Toyota">Toyota</ion-select-option>
                <ion-select-option value="Nissan">Nissan</ion-select-option>
                <ion-select-option value="Wolkswagen">Wolkswagen</ion-select-option>
                <ion-select-option value="Ford">Ford</ion-select-option>
                <ion-select-option value="Fiat">Fiat</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
              <ion-item>
                <ion-label position="stacked">Cor</ion-label>
                <ion-select interface="popover" required [(ngModel)]="car.cor">
                  <ion-select-option value="Amarelo">Amarelo</ion-select-option>
                  <ion-select-option value="Azul">Azul</ion-select-option>
                  <ion-select-option value="Preto">Preto</ion-select-option>
                  <ion-select-option value="Branco">Branco</ion-select-option>
                  <ion-select-option value="Cinza">Cinza</ion-select-option>
                  <ion-select-option value="Verde">Verde</ion-select-option>
                  <ion-select-option value="Vermelho">Vermelho</ion-select-option>
                </ion-select>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Carroceria</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.carroceria">
                <ion-select-option value="Hatch">Hatch</ion-select-option>
                <ion-select-option value="Sedan">Sedan</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Portas</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.portas">
                <ion-select-option value="2">2</ion-select-option>
                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Motorizacao</ion-label>
              <ion-input type="text" required [(ngModel)]="car.motorizacao"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Combustivel</ion-label>
              <ion-select interface="popover" required [(ngModel)]="car.combustivel">
                <ion-select-option value="Gasolina">Gasolina</ion-select-option>
                <ion-select-option value="Diesel">Diesel</ion-select-option>
                <ion-select-option value="Alcool">Alcool</ion-select-option>
                <ion-select-option value="Flex">Flex</ion-select-option>
                <ion-select-option value="Eletrico">Elétrico</ion-select-option>
                <ion-select-option value="Gnv">Gnv</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item>
        <ion-label position="stacked">Chassi</ion-label>
        <ion-input type="text" required [(ngModel)]="car.chassi"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Observações</ion-label>
        <ion-textarea placeholder="..."></ion-textarea>
      </ion-item>
      <ion-item-group class="ion-text-center ion-margin-top">
        <ion-button color="medium" routerLink="/cars">
          <ion-icon name="arrow-back-outline"></ion-icon>Voltar
        </ion-button>
        <ion-button color="success" (click)="savedata(car)">
          <ion-icon class="m-icon" name="save-outline"></ion-icon>Salvar
        </ion-button>
      </ion-item-group>
    </ion-card-content>
  </ion-card>

</ion-content>