<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Item Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <ion-button size="large" color="success" (click)="presentModalProduct()">
          <ion-icon name="add-circle-outline"></ion-icon> Agregar Producto
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Código de operación: {{id}}</ion-card-subtitle>
      <ion-card-title>{{itemDetail.nameProduct}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="itemDetail.idProduct">
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="{{product.image}}" />
        </ion-thumbnail>
        <ion-label>
          <p><b>Precio: </b>{{itemDetail.price | currency: 'GS '}}</p>
          <p><b>Volumen: </b>{{itemDetail.volume}}</p>
          <p><b>Stock Disponible: </b>{{product.quantity}}</p>
        </ion-label>
        <ion-note color="primary" slot="end" style="font-size: small;font-weight: bold;">
          <div class="input-group-quantity">
            <div class="input-prepend" (click)="increaseQuantity()">
              <ion-icon name="add-outline"></ion-icon>
            </div>
            <ion-input readonly class="input-quantity" type="number" [(ngModel)]="itemDetail.quantity"></ion-input>
            <div class="input-prepend" (click)="decreaseQuantity()">
              <ion-icon name="remove-outline"></ion-icon>
            </div>
          </div>
        </ion-note>
      </ion-item>
      <ion-text color="success">
        <h3 class="float-right" style="font-size: 1rem;margin-top: 10px;"><b>Subtotal:
          </b>{{itemDetail.subtotal | currency: 'GS '}}</h3>
      </ion-text>
    </ion-card-content>

    <ion-card-content *ngIf="!itemDetail.idProduct">
      <ion-list>
        <ion-item *ngFor="let item of [0]">
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h2>
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>

    <ion-grid style="margin-top: 15px;">
      <ion-row class="ion-text-center">
        <ion-col size="12">
          <ion-button size="large" color="warning" (click)="saveDetail()">
            <ion-icon name="checkmark-done-outline"></ion-icon>Guardar Item
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>