<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Mecanicas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/detail-workshop']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-mi-acordion *ngFor="let workshop of workshops" 
     nome="{{ workshop.nome }}" 
     endereco="{{ workshop.endereco }}" 
     RUC="{{ workshop.RUC }}" 
     telefone="{{ workshop.telefone }}"
     email="{{ workshop.email }}"
     responsavel="{{ workshop.responsavel }}"
     (change)="captureName($event)">
  </app-mi-acordion>

</ion-content>