<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Pedidos</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</ion-header>

<ion-content>

  <ion-button class="ion-margin" color="success" routerLink="/detail-order"><ion-icon name="add-outline"></ion-icon> Nuevo Pedido</ion-button>

  <div class="table-responsive">
    <table class="table table-hover table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">Cliente</th>
          <th scope="col">Vendedor</th>
          <th scope="col">Estado</th>
          <th scope="col">Total</th>
          <th scope="col">Fecha</th>
          <th scope="col">Observacion</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.nameCustomer}}</td>
          <td>{{order.nameVendor}}</td>
          <td [ngClass]="{
    'text-success':order.status === 'Entregado',
    'text-primary':order.status === 'Pendiente',
    'text-danger':order.status === 'Cancelado'
  }">{{order.status}}</td>
          <td>{{order.total | currency: 'GS '}}</td>
          <td>{{order.date}}</td>
          <td>{{order.observation}}</td>
          <td>
            <ion-button size="small" color="success" [routerLink]="['/detail-order/', order.id]">
              <ion-icon slot="icon-only" color="light" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button size="small" color="danger" (click)="ConfirmDelete(order.id)">
              <ion-icon slot="icon-only" color="light" name="trash"></ion-icon>
            </ion-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ion-list *ngIf="!orders.length">
    <ion-item *ngFor="let item of [0,1,2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>