<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="pricetags-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Seleccione un Producto</ion-title>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon> Cerrar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-item *ngFor="let product of products" (click)="goToModalDetail(product)">
      <ion-thumbnail slot="start">
        <img src="{{product.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{product.name}}</h2>
        <p>Volumen: {{product.volume}}</p>
        <p>Stock Disponible: {{product.quantity}}</p>
      </ion-label>
      <ion-note style="font-size: 0.8rem;" color="primary" slot="end">{{product.sale_price | currency: 'GS '}}</ion-note>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="!products.length">
    <ion-item *ngFor="let item of [0,1,2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 80%;"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>