<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Manutenções</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/detail-maintenance']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let maintenance of maintenances" [routerLink]="['/detail-maintenance/', maintenance.id]">
    <ion-item class="line-card">
      <ion-thumbnail slot="start">
        <ion-icon style="display: table-footer-group;color: cornflowerblue;" name="build-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h2 class="ion-text-capitalize">{{maintenance.manutencao}}</h2>
        <p class="ion-text-capitalize">{{maintenance.mecanica}}</p>
        <p>{{maintenance.custo | currency :"R$ "}}</p>
        <p>{{maintenance.data}}</p>
      </ion-label>
      <ion-note style="font-size: smaller;" slot="end">
        <p style="color:#008000;"><ion-icon name="speedometer-outline"></ion-icon> {{maintenance.km}} Km</p>
        <p style="color:#ff4500;"><ion-icon name="speedometer-outline"></ion-icon> {{maintenance.km_prox}} Km</p>
      </ion-note>
    </ion-item>
  </ion-card>

</ion-content>
