<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Manutenções</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/detail-workshop']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item class="line-card">
      <ion-thumbnail slot="start">
        <ion-icon style="display: table-footer-group;color: cornflowerblue;" name="build-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Compra de Pneus</h3>
        <p>Comercial Continental</p>
        <p>600,00 RS</p>
      </ion-label>
      <ion-note color="primary" style="font-size: small;" slot="end" *ngIf="data">{{ data }}</ion-note>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item class="line-card">
      <ion-thumbnail slot="start">
        <ion-icon style="display: table-footer-group;color: cornflowerblue;" name="build-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>Chaperia Pintura</h3>
        <p>Comercial San jose</p>
        <p>1,200,00 RS</p>
      </ion-label>
      <ion-note color="primary" style="font-size: small;" slot="end" *ngIf="data">{{ data }}</ion-note>
    </ion-item>
  </ion-card> 
 <ion-card>
  <ion-item class="line-card">
    <ion-thumbnail slot="start">
      <ion-icon style="display: table-footer-group;color: cornflowerblue;" name="build-outline"></ion-icon>
    </ion-thumbnail>
    <ion-label>
      <h3>Chaperia Pintura</h3>
      <p>Comercial San jose</p>
      <p>1,200,00 RS</p>
    </ion-label>
    <ion-note color="primary" style="font-size: small;" slot="end" *ngIf="data">{{ data }}</ion-note>
  </ion-item>
 </ion-card> 

</ion-content>
