<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Despesas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/detail-expense']">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let expense of expenses" [routerLink]="['/detail-expense/', expense.id]" >
    <ion-item class="line-card">
      <ion-thumbnail slot="start">
        <ion-icon style="display: table-footer-group;color: cornflowerblue;" name="cash-outline"></ion-icon>
      </ion-thumbnail>
      <ion-label>
        <h3>{{expense.nome}}</h3>
        <p>{{expense.observacoes}}</p>
        <p>{{expense.data}}</p>
      </ion-label>
      <ion-note style="font-size: smaller;" slot="end">
        <p style="color:#008000;">{{expense.custo | currency:'R$ '}}</p>
      </ion-note>
    </ion-item>
  </ion-card>
  
</ion-content>
