/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.m-icon {
    margin-right: 3px;
}

.alert-wrapper.sc-ion-alert-md {
    width: -webkit-fill-available;
}

.font-price {
    font-size: 2.5rem;
    color: firebrick;
    font-weight: bold;
    line-height: 1.15;
    margin: 20px 20px 10px 0px;
}

.float-right {
    float: right !important;
    text-align: end;
}

ion-card{
    padding: 10px 0px 10px 0px;
}

.input-group-quantity {
    position: relative;
    display: flex;
    height: min-content;
    width: min-content;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-prepend {
    display: flex;
    align-items: center;
    background-color: #ced4da;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.input-quantity {
    text-align: center;
    width: min-content;
    width: 38px;
    text-align: initial;
}
.btn-group, .btn-group-vertical {
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.car-subtitle {
    width: 80%;
    margin-left: 5px;
    margin-top: -16px;
}

.btn-spa {
    margin-left: 5px;
}

.line-card{
    --border-color: transparent;
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #000;
  
    /* Set a different placeholder color */
    --placeholder-color: #000;
  
    /* Set full opacity on the placeholder */
    --placeholder-opacity: 1;
  }

@import "~@mobiscroll/angular/dist/css/mobiscroll.scss";