<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start" (click)="undoOrder()">
      <ion-back-button defaultHref="/orders"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Detalle Pedido</ion-title>
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="bookmarks-outline"></ion-icon> Cod. Pedido:
        {{idOrder}}
      </ion-card-subtitle>
      <div class="row float-right" style="margin-right: 2px;">
        <div class="btn-group btn-group-toggle" style="width: 100%;" data-toggle="buttons">
          <label class="btn" [ngClass]="{'btn-warning':order.status==='Pendiente'}">
            <input type="radio" name="options" id="pending" autocomplete="off"> Pendiente
          </label>
          <label class="btn" [ngClass]="{'btn-success':order.status==='Entregado'}">
            <input type="radio" name="options" id="delivered" autocomplete="off"> Entregado
          </label>
          <label class="btn" [ngClass]="{'btn-danger':order.status==='Cancelado'}">
            <input type="radio" name="options" id="Cancelled" autocomplete="off"> Cancelado
          </label>
        </div>
      </div>
    </ion-card-header>
    <ion-card-content>
      <div class="form-row" style="margin-top: 30px;">
        <div class="form-group col-md-6">
          <label for="inputPassword4">Cliente</label>
          <input readonly *ngIf="!customers" [(ngModel)]="order.nameCustomer" type="text" class="form-control">
          <select *ngIf="customers" required class="form-control" [(ngModel)]="order.idCustomer">
            <option *ngFor="let customer of customers" [value]="customer.id">{{customer.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Vendedor</label>
          <input readonly *ngIf="!vendors" [(ngModel)]="order.nameVendor" type="text" class="form-control">
          <select *ngIf="vendors" class="form-control" [(ngModel)]="order.idVendor">
            <option *ngFor="let vendor of vendors" [value]="vendor.id">{{vendor.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label>Fecha de pedido</label>
          <input readonly *ngIf="!vendors" [(ngModel)]="order.date" type="text" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp">
          <input *ngIf="vendors" [(ngModel)]="order.date" type="text" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        </div>
        <div class="col-md-6 float-right">
          <ion-button [disabled]="btnActions" style="margin-top: 24px; margin-bottom: inherit;" class="ion-margin"
            color="success" (click)="addOrProcess()">
            <ion-icon name="add-outline"></ion-icon>{{actionTitle}}
          </ion-button>
          <ion-button [disabled]="btnCancelled" style="margin-top: 24px; margin-bottom: inherit;" class="ion-margin"
            color="danger" (click)="cancelOrder()">
            <ion-icon name="add-outline"></ion-icon>Cancelar Pedido
          </ion-button>
        </div>
      </div>
      <div class="table-responsive" style="margin-top: 20px;">
        <table id="myTable" class="table table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Descripcion</th>
              <th scope="col">Volumen</th>
              <th scope="col">Precio</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Subtotal</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details ">
              <td>{{detail.nameProduct}}</td>
              <td>{{detail.volume}}</td>
              <td>{{detail.price}}</td>
              <td>{{detail.quantity}}</td>
              <td>{{detail.subtotal}}</td>
              <td>
                <ion-button [disabled]="btnItem" size="small" color="success"
                  (click)="presentModalDetailEdit(detail,detail.id)">
                  <ion-icon slot="icon-only" color="light" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button [disabled]="btnItem" size="small" color="danger" (click)="ConfirmDeleteDetail(detail.id)">
                  <ion-icon slot="icon-only" color="light" name="trash"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="col-md-6">
          <label for="exampleFormControlTextarea1">Observación</label>
          <textarea *ngIf="observation==true" class="form-control" id="exampleFormControlTextarea1" rows="2"
            [(ngModel)]="order.observation"></textarea>
          <textarea readonly *ngIf="observation==false" class="form-control" id="exampleFormControlTextarea1" rows="2"
            [(ngModel)]="order.observation"></textarea>
        </div>
        <div class="col float-right">
          <label class="font-price">{{order.total | currency: 'GS '}}</label>
        </div>
      </div>

      <ion-item-group class="ion-text-center float-right">
        <ion-button color="secondary" routerLink="/orders" (click)="undoOrder()">
          <ion-icon name="arrow-back-outline"></ion-icon>Volver
        </ion-button>
        <ion-button [disabled]="btnSave" color="success" (click)="saveOrder(order)">
          <ion-icon class="m-icon" name="save-outline"></ion-icon>Guardar
        </ion-button>
      </ion-item-group>

    </ion-card-content>
  </ion-card>

</ion-content>